@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-body;
    }
    h3, h4, h6, .h7 {
        @apply uppercase;
    }
    h3 {
        @apply font-bold text-4xl 2xl:text-h3;
    }
    h4 {
        @apply font-bold text-2xl 2xl:text-h4 2xl:leading-10;
    }
    h6 {
        @apply font-bold text-lg 2xl:text-xl;
    }
    .h7 {
        @apply font-bold text-base;
    }
    p {
        @apply text-lg leading-7;
    }
    .typography table, .typography p {
        @apply mb-4 2xl:mb-6;
    }
    .typography table tr th {
        @apply py-1 px-4 bg-main-blue text-white border-r last:border-r-0 border-white;
    }
    .typography table tr td {
        @apply py-1 px-4 border-r border-b last:border-r-0 border-main-blue;
    }
}

@layer components {
    .navigation {
        transform: translateY(-100%);
        @apply fixed top-0 right-0 z-40 pt-20 py-9 transition-transform duration-300 bg-main-blue flex justify-center items-center w-full md:w-80 flex-col space-y-16  lg:translate-x-0 lg:bg-transparent lg:h-full lg:space-y-0 lg:flex-row lg:static lg:w-max lg:py-3 border-b-2 border-main-red lg:border-none;
    }
    .navigation.menu_active {
        transform: translateX(0);
    }
    .nav_link {
        @apply uppercase lg:h-full lg:flex lg:items-center text-white font-bold text-lg relative 2xl:text-xl;
    }
    .nav_link::after {
        content: "";
        @apply hidden lg:block absolute right-0 bottom-4 w-0 h-0.5 bg-white;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .nav_link:hover::after {
        @apply right-auto w-full left-0;
    }
    .nav_link:not(:first-child)::before {
        content: "/";
        @apply hidden xl:block absolute -left-4 2xl:-left-6 top-1/2 -translate-x-1/2 -translate-y-1/2 text-main-red;
    }
    .burger {
        @apply cursor-pointer z-40 px-3 lg:hidden;
    }
    .burger div {
        @apply transition-transform;
    }
    .burger.active div:nth-child(1) {
        @apply rotate-45 translate-y-1;
    }
    .burger.active div:nth-child(2) {
        @apply hidden;
    }
    .burger.active div:nth-child(3) {
        @apply -rotate-45;
    }
    .search_input {
        @apply rounded w-0 outline-none bg-white text-main-blue transition-all duration-200;
    }
    .search_input.active {
        @apply w-48 px-2 mr-1;
    }
    .article:nth-child(1) {
        @apply lg:h-full lg:row-span-2;
    }
    .article .top_article_span {
        @apply 2xl:px-4;
    }
    .article:nth-child(1) .top_article_span {
        @apply 2xl:px-6;    
    }
    .dropdown_menu {
        @apply z-50 hidden lg:absolute lg:top-8 2xl:top-10 lg:flex lg:transition-all lg:translate-y-10 lg:group-hover:translate-y-5 lg:invisible lg:opacity-0 lg:group-hover:visible lg:group-hover:opacity-100 lg:bg-white lg:text-main-blue lg:p-3 lg:w-max lg:flex-col lg:space-y-3;
    }
    .dropdown_menu.active {
        @apply flex flex-col space-y-1;
    }
    .dropdown_menu li:last-child a {
        @apply lg:border-b-0;
    }
    .dropdown_menu li a {
        @apply border-b border-main-red pb-1 lg:py-2 w-full text-sm transition-colors lg:hover:text-main-red;
    }
    .form_select {
        @apply py-1 px-2 border border-main-blue focus:border-none focus:outline-none focus:ring-2 ring-main-blue rounded;
    }
    .discussion {
        @apply hidden;
    }
    .discussion.active {
        @apply block;
    }
}

@layer utilities {
    .article::before {
        content: "";
        @apply absolute hover:hidden inset-0 h-full w-full z-10 bg-gradient-to-t from-main-blue to-transparent;
    }
    .foto_nahled::before {
        content: "";
        @apply absolute inset-0 h-full w-full z-10 bg-gradient-to-r from-main-blue to-transparent;
    }
    .youth::before {
        content: "";
        @apply absolute inset-0 h-20 2xl:h-24 w-full bg-gray-100 z-10;
    }
    .lost {
        @apply text-main-red;
    }
    .win {
        @apply text-green-600;
    }
    .matchBox_paddingBottom {
        @apply pb-4 2xl:pb-6;
    }
    .matchBox_paddingY {
        @apply py-4 2xl:py-6;
    }
    .matchBox_paddingTop {
        @apply pt-4 2xl:pt-6;
    }
    .stretched_link::before {
        content: "";
        @apply block absolute inset-0 z-40;
    }
    .stretched_link.stretchedLink_active::before {
        @apply hidden;
    }
}
